<div class="container">
  <h2>My App</h2>

	<form>
		<div class="row">
			<div class="input-group">
				<input type="text" ng-model="$parent.todo" class="form-control" placeholder="what needs to be done!">
				<span class="input-group-btn">
					<button class="btn btn-primary" ng-click="addTodo()">ADD</button>
				</span>
			</div>
		</div>
	</form>
	<p></p>

  <div ui-sortable ng-model="todos">
  	<p ng-repeat="todo in todos" class="input-group" style="padding:5px 10px; cursor:move;">
	    <input type="text" ng-model="todo" class="form-control">
	    <span class="input-group-btn">
	    	<button type="button" class="btn btn-danger" ng-click="removeTodo($index)">X</button>
	    </span>
  	</p>
  </div>
</div>